{% extends base_template|default:"base.html" %}

{% load i18n %}

{% block content %}
	<div id="object_detail" class="roundbox">

		<h2>{{ title }} {{ object }}</h2>

		<div class="edit_buttons">
		    <form method="post" action="." id="confirmationform">{% csrf_token %}
			<a href="#" onclick="document.getElementById('confirmationform').submit();return false" class="button deleteconfirm"><span>{% trans "delete"|capfirst %}</span></a>
			<a href="{{ object.get_absolute_url }}" class="button"><span>{% trans "cancel"|capfirst %}</span></a>
		</div>

		<hr />

	</div>
{% endblock %}
