{% extends base_template|default:"base.html" %}

{% load i18n %}

{% block title %}{{ title }} - {{ block.super }}{% endblock %}

{% block content %}
<h2>{{ title }}</h2>

<form method="post" action=".">{% csrf_token %}
<table>
    {{ form }}

    {% for key, formset in formsets.items %}
        {{ formset }}
    {% endfor %}
    <tr>
        <td>&nbsp;</td>
        <td>
            <button type="submit">{% trans "save"|capfirst %}</button>
            <button type="button" onclick="window.location.assign('../')">{% trans "cancel"|capfirst %}</button>
        </td>
    </tr>
</table>
</form>
{% endblock %}
