table#form, table#form th,table#form td,table#form tr{

}

.invalid th {
	color: red;
}

.error{
	color: red;
}

.jserror {
	padding:0 24px 12px 24px;
	text-align:center;
}

table#form th{
	font-weight: normal;
	padding: 0 5px 0 0;
	vertical-align: top;
	width: 100px;
	text-align:right;
}

table#form td{
	padding-bottom:10px;
	text-align: left;
}

table#form td input, table#form td textarea{
	vertical-align:middle;
	width:390px;
	border: 1px solid #e1e1e1;
	margin:2px 0;
	padding: 5px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
    font-size: 12px;

}
table#form td textarea {
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
	 vertical-align:top !important;
}
table#form td span{
    padding: 2px 4px;
    background-color: #e1e1e1;
    display: block;
}
table#form th label {
	margin: 0;
	padding: 8px 0 3px 0;
	display:block;
}


table#form td select {
	width: 410px;
	padding: 4px 0 0 0;
	height: 25px;
}

.invalid th {
	font-weight:bold;
}


table#form .invalid input, table#form .invalid textarea {
	border-left: 4px solid red;
	width:387px;
}

table#form td.submit-btn input {
	width: 150px;
	border: none;
	background-color: #999999;
	margin-top: 10px;
}

table#form td.submit-btn input:hover {
	color: white;
	background-color: #444;
}

.radio-btn, html body table#form .radio-btn input { width: auto; margin:0px 5px 0 0;}
.radio-label, .radio-btn label {width:250px; padding-right: 30px; vertical-align:middle;}

.suchen input {
	font-size: 14px;
	width:274px;
	padding: 10px 5px;
	margin-bottom: 10px;
}
.suchen .submit-btn {
	width:286px;
}

html body table#form td input.auto_w {
	width: 30px;
}



/*------------------------------------------------------------------
projekt spezifisch
-------------------------------------------------------------------*/ 

table#form td input, table#form td textarea{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    border: 1px solid #858585;
}

table#form td.submit-btn input:hover {
	color: #ffffff;
	background-color: #1e5c74;
}

table#form td.submit-btn input {
	width: 150px;
	color: #ffffff;
	background-color: #2d8aad;
	margin-top: 10px;
	text-transform: uppercase;
	
}

