/**
 *
 * FEINHEIT kreativ studio // www.feinheit.ch
 *
 */

body {
	margin: 0;
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
	font-size:10pt;
	background-color: #f0f0f0;
}

a{
	color:#000;
	outline:none;
	border:none;
}

a img{border:none;}

p {
	margin: 6px 0 6px 0;
}

h1 {
	font-family: Trebuchet MS, sans-serif;
}

h2 {
	font-family: Trebuchet MS, sans-serif;
	margin: 0;
	display:inline;
}

h3 {
	font-family: Trebuchet MS, sans-serif;
	margin: 0;
}

html, body, #wrapper {
	height:100%;
}

hr {
	border:0;
  	border-top: 1px solid black;
	margin: 4px 0 4px 0;
}

hr.thick {
  	border-top: 2px solid black;
  	margin-bottom: 15px;
}

img.smallicon {
	position:relative;
	top:3px;
}

a.button {
    background: transparent url('/media/img/design/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: inline-block;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
    float: right;
}

a.button span {
    background: transparent url('/media/img/design/bg_button_span.gif') no-repeat;
    display: inline-block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	border: 1px dashed #aaaaaa;
	-moz-border-radius: 3px;
 	-webkit-border-radius: 3px;
}

input {
	border: 1px dashed #aaaaaa;
	-moz-border-radius: 3px;
 	-webkit-border-radius: 3px;
}

#validation_errors {
	color: red;
	background-color: #ffeeee;
	border: 1px solid red;
	margin-bottom: 20px;
	padding:10px;
}

ul.errorlist {
	display:inline;
	font-weight:bolder;
	padding-left:0px
}

ul.errorlist li {
	display:inline;
}

ul.errorlist > li {
    display: block;
}

ul.errorlist ul {
	display:inline;
	font-weight:normal;
	padding-left:5px
}

ul.errorlist ul li{
	display:inline;
	list-style-type:none;
}

span.invalid input {
	border: 1px dashed red;
	-moz-border-radius: 3px;
 	-webkit-border-radius: 3px;
}

span.invalid {
	color: red !important;
}

#delete_dialog {
	display:none;
}

#edit_buttons {
	float:right;
}

#messages {
	background-color:#FFFFDD;
	border:1px solid #cccc00;
	margin: 13px 0 10px 0;
	padding: 4px 10px 4px 10px;
}

#header_buttons {
	height:50px;
	right:220px;
	margin:0 100%;
	position:relative;
	width:220px;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	background-color: white;
/*
	border-left: 1px dashed #aaaaaa;
	border-right: 1px dashed #aaaaaa;
*/
	height: auto;
	min-height: 100%
}

#spacer {
	height:20px;
}

#titlebar {
	height: 65px;
	max-height: 65px;
	background-color: #75b6de;
	background-image: url('/media/img/design/bg_gradient.png');
	padding: 10px 20px 10px 20px;
}

#title {
	float:left;
}

#userpanel {
	float:right;
	text-align:right;
	line-height:1.5em;
	margin:6px;
}

#username {
	color: white;
}

#title h1 {
	color: white;
	font-weight:normal;
	font-size:40px;
	margin: 0;
	padding-top:8px;
}

#titlebar a {
	text-decoration:none;
}

#content {
	padding: 20px;
}

#navbar {
/*
	bottom:0px;
	line-height:4em;
	background-color:grey;
*/
	height:40px;
}

#navbar td {
	vertical-align:bottom;
	padding: 0;
}

#navbar a {
	font-size: 20px;
	text-decoration:none;
	font-family: Trebuchet MS, sans-serif;
	padding: 0 20px 0 0px;
	color: #666666;
}

/*#navbar a:hover, */
#navbar a.mark {
	font-weight:bolder;
	color: black;
}

#login #id_username {
	font-size: 18px;
}

#login label {
	font-size: 18px;
}

#login #id_password {
	font-size: 18px;
}

div.object {
	padding: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    border-bottom: 1px solid #c4c4c4;
}

tbody tr:first-child td,
tbody tr:first-child th {
    padding-top: 10px;
}

table th {
    text-align: left;
}

table td {
    padding: 5px 0;
}

table tr>*:first-child {
    padding-left: 3px;
}

table th a {
    text-decoration: none;
}

table th a:hover {
    text-decoration: underline;
}

div.object.even,
tr.even {
	background: #eeeeee;
}

div.roundbox {
	border:1px solid black;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
 	padding: 10px;
}

#project_infos label {
	width:100px;
	display:inline-block;
	font-weight:bolder;
	margin-bottom:7px;
}

#project_infos {
	display:inline-block;
	padding-top:10px;
}

#figures {
	position:relative;
	float:left;
	width: 205px;
	padding-right:30px;
}

#object_detail #facts {
	float:right;
	width:660px;
}

#facts label {
	float:left;
	margin-top: 6px;
	width:100px;
}

#facts p {
	float:right;
	width:560px;
}

#object_form input {
	width:100px;
}

#object_form select {
	width:110px;
}

#object_form #id_budget {
	width:70px;
}

#object_detail #id_name {
	font-family: Trebuchet MS, Helvetica;
	font-size: 20px;
	font-weight: bolder;
	width:400px;
}

#object_form {
	display:inline-block;
	padding-top:10px;
}

#object_form #id_description {
	width: 560px;
	max-width: 560px;
	height: 300px;
}

#object_form label {
	width:80px;
	display:inline-block;
	font-weight:bolder;
	margin-bottom:7px;
}

#project_files {
	margin-top:3px;
	float:right;
	width:560px;
}

.clear {
	clear:both;
}

@media print {
	*{background: #fff; color: #000;}
	html {font: 100%/1.5 Arial, Helvetica, sans-serif;}
	/*#nav, #about { display: none; }*/
}


/* BAR */

div.bar {
    position: relative;
    width: 90%;
    border: 1px solid #888;
    padding: 2px;
	-moz-border-radius: 2px;
 	-webkit-border-radius: 2px;
}

div.bar div.text {
    position: absolute;
    left: 4px;
    top: 2px;
    height: 16px;
    width: 50px
}

div.bar div.completed {
    background: #0091F7;
	-moz-border-radius: 2px;
 	-webkit-border-radius: 2px;
}

