/**
 * 
 * FEINHEIT kreativ studio // www.feinheit.ch
 * 
 */

body {
	margin: 0;
	font-family: Tahoma, sans-serif;
	font-size:10pt;
	background-color: #f0f0f0;
}

a{ 
	color:#000;
	outline:none;
	border:none;
}

a img{border:none;}

h1 {
	font-family: Trebuchet MS, sans-serif;
}

html, body, #wrapper {
	height:100%;
}

hr {
	border: 1px solid black;
	margin: 4px 0 4px 0;
}

hr.thick {
	border: 2px solid black;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	background-color: white;
/*
	border-left: 1px dashed #aaaaaa;
	border-right: 1px dashed #aaaaaa;
*/
	height: auto;
	min-height: 100%
}

#spacer {
	height:20px;
}

#titlebar {
	height: 60px;
	max-height: 60px;
	background-color: #75b6de;
	padding: 10px 20px 10px 20px;
}

#title {
	float:left;
}

#userpanel {
	float:right;
	text-align:right;
	line-height:1.5em;
	margin:6px;
}

#username {
	color: white;
}

#title h1 {
	color: white;
	font-weight:normal;
	font-size:40px;
	margin: 0;
	padding-top:8px;
}

#titlebar a {
	text-decoration:none;
}

#content {
	padding: 20px;
}

#navbar {
/*
	bottom:0px;
	line-height:4em;
	background-color:grey;
*/
	height:40px;
}

#navbar td {
	vertical-align:bottom;
	padding: 0;
}

#navbar a {
	font-size: 20px;
	text-decoration:none;
	font-family: Trebuchet MS, sans-serif;
	padding: 0 20px 0 0px;
	color: #666666;
}

/*#navbar a:hover, */
#navbar a.mark {
	font-weight:bolder;
	color: black;
}

#id_username {
	font-size: 18px;
}

label {
	font-size: 18px;
}

#id_password {
	font-size: 18px;
}

@media print {
	*{background: #fff; color: #000;}
	html {font: 100%/1.5 Arial, Helvetica, sans-serif;}
	/*#nav, #about { display: none; }*/
}
