{% extends "base.html" %}

{% load i18n mooch_tags %}

{% block content %}
	<div id="delete_dialog" title="{% blocktrans %}Delete {{ object }}?{% endblocktrans %}">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 30px 0;"></span>
		    {% blocktrans %}{{ object }} will be deleted permanently!{% endblocktrans %}
		</p>
	</div>

	<div id="object_detail" class="roundbox">

		<h2>{{ object.title }}</h2>

		<div id="edit_buttons" >
			<a href="delete/" class="button deleteconfirm"><span>{% trans "delete"|capfirst %}</span></a>
			<a href="edit/"class="button"><span>{% trans "edit"|capfirst %}</span></a>
		</div>

		<hr />

		<div id="object_infos">
			<div id="figures">
				<p id="general_info">
					<label>{% trans "project"|capfirst %}</label> <a href="{{ object.project.get_absolute_url }}">{{ object.project }}</a><br/>
					<label>{% trans "account"|capfirst %}</label> {{ object.account }}<br/>
				</p>

				<p id="location_info">
					<label>{% trans "source"|capfirst %}</label> {{ object.get_source_display }}<br/>
					<label>{% trans "reported"|capfirst %}</label> {{ object.reported|date:"d.m.Y" }}<br/>
				</p>
			</div>

			<div id="facts">
				<label>{% trans "message"|capfirst %}</label>
				{{ object.message|linebreaks }}

			</div>

            <div class="clear"></div>
		</div>
	</div>

    <div id="object_detail" class="roundbox">
        <h3>{% trans "log entry files"|capfirst %}</h3>
        <hr />
        <div id="object_infos">
            {% for file in object.files.all %}
                <label>{{ file.title }}</label>
                <a href="{{ file.file.url }}">{{ file.file.name }}</a><br />
            {% endfor %}
        </div>

        <div class="clear"></div>
    </div>


{% endblock %}