{% extends "modelview/object_list.html" %}

{% load modelview_list towel_batch_tags %}

{% block objects %}
<table class="objects">
    <thead>
        <tr>
            {% if batch_form %}<td><input class="batch" type="checkbox"></td>{% endif %}
            <th></th>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            {% if batch_form %}<td>{% batch_checkbox batch_form object.id %}</td>{% endif %}
            <th><a href="{{ object.get_absolute_url }}">{{ object }}</a></th>
            {% for verbose_name, field in object|model_row:"person" %}
                <td>{{ field }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
