{% extends "modelview/object_list.html" %}

{% load i18n modelview_list towel_batch_tags %}

{% block objects %}
<table class="objects">
    <thead>
        <tr>
            {% if batch_form %}<td><input type="checkbox"></td>{% endif %}
            <th>{% trans "object"|capfirst %}</th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            {% if batch_form %}<td>{% batch_checkbox batch_form object.id %}</td>{% endif %}
            <th><a href="{{ object.get_absolute_url }}">{{ object }}</a></th>
            {% for verbose_name, field in object|model_row:"created,is_active" %}
                <td>{{ field }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
