{% extends "base.html" %}

{% load i18n mooch_tags %}

{% block content %}
	<div id="delete_dialog" title="{% blocktrans with profile.name as profile_name %}Delete profile {{ profile_name }}?{% endblocktrans %}">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 30px 0;"></span>
		    {% blocktrans with profile.name as profile_name %}Project {{ profile_name }} will be deleted permanently!{% endblocktrans %}
		</p>
	</div>

	<div id="profile_detail" class="roundbox">

		<h2>{{ profile.name }}</h2>

		<div id="edit_buttons" >
			<a href="edit/"class="button"><span>{% trans "edit"|capfirst %}</span></a>
			<a href="delete/" class="button deleteconfirm"><span>{% trans "delete"|capfirst %}</span></a>
		</div>

		<hr />

		<div id="profile_infos">
			<div id="figures">
				<p id="general_info">
					<label>{% trans "manager"|capfirst %}</label> {{ profile.manager }}<br/>
					<label>{% trans "state"|capfirst %}</label> {{ profile.get_state_display }}<br/>
				</p>

				<p id="location_info">
					<label>{% trans "country"|capfirst %}</label> {{ profile.country }}<br/>
					<label>{% trans "location"|capfirst %}</label> {{ profile.location }}<br/>
				</p>

				<p id="duration_info">
					<label>{% trans "start date"|capfirst %}</label> {{ profile.start|date:"d.m.Y" }}<br/>
					<label>{% trans "end date"|capfirst %}</label> {{ profile.end|date:"d.m.Y" }}<br/>
				</p>

				<div id="budget_info">
					<label>{% trans "budget"|capfirst %}</label> {{ profile.budget }} CHF<br/>
					<label>{% trans "funding"|capfirst %}</label>
				</div>

			</div>

			<div id="facts">
				<label>{% trans "description"|capfirst %}</label>
				{{ profile.description|linebreaks }}

				<div class="clear"></div>
			</div>
		</div>
	</div>

{% endblock %}