{% extends "base.html" %}

{% load i18n mooch_tags %}

{% block content %}

	<div id="header_buttons" >
		<a href="{% url accounts_profile_add %}" class="button"><span>{% trans "New profile" %}</span></a>
	</div>

	<table class="objects">
	    <thead>
            <tr>
                <th>{% trans "new"|capfirst %}</th>
                <th>{% trans "name"|capfirst %}</th>
                <th>{% trans "access level"|capfirst %}</th>
                <th>{% trans "is active"|capfirst %}</th>
            </tr>
        </thead>
        <tbody>
        {% for profile in object_list %}
            <tr id="item{{profile.id}}" class="object {% cycle 'odd' 'even' %}">
                <td>-</td>
                <th><a href="{{ profile.get_absolute_url }}">{{ profile }}</a></th>
                <td>{{ profile.get_access_level_display }}</td>
                <td>{{ profile.user.is_active }}</td>
            </tr>
        {% endfor %}
        </tbody>
	</table>
{% endblock %}