{% extends "base.html" %}
{% load i18n %}
{% load feinheit_forms %}
{% block content %}
	<br/>

	{% if form.errors %}
	<div id="validation_errors" class="roundbox">
		<h3>{% trans "Please check the following errors before saving:" %}</h3>
		<br />
		{{ form.errors }}
	</div>
	{% endif %}

	<div id="project_detail" class="roundbox">

		{% form_render_start form 'plain' %}

		<h2>{% form_render_input form.name 'plain' %}</h2>

		<div id="edit_buttons" >
			<a href="{% if project %}{{ project.get_absolute_url }}
					 {% else %}/projects/list/{% endif%}"
			class="button"><span>Cancel</span></a>
			<a id="submit_button" class="button"><span>Save</span></a>
		</div>

		<hr />

		<div id="project_form">

			<div id="figures">
				<p id="general_info">
                    {{ form.manager.label_tag }}
                    {% form_render_input form.manager 'plain' %}<br/>

                    {{ form.state.label_tag }}
                    {% form_render_input form.state 'plain' %}<br/>
				</p>

				<p id="location_info">
                    {{ form.country.label_tag }}
                    {% form_render_input form.country 'plain' %}<br/>

                    {{ form.location.label_tag }}
                    {% form_render_input form.location 'plain' %}<br/>
				</p>

				<p id="duration_info">
				    {{ form.start.label_tag }}
                    {% form_render_input form.start 'plain' %}<br/>

                    {{ form.end.label_tag }}
                    {% form_render_input form.end 'plain' %}<br/>
				</p>

				<p id="budget_info">
				    {{ form.budget.label_tag }}
                    {% form_render_input form.budget 'plain' %} CHF<br/>
				</p>
			</div>

			<div id="facts">
				<div id="description" class="clear">
				    {{ form.description.label_tag }}
					<p>{{ form.description }}</p>
				</div>
				<div id="files" class="clear">
					<label>{% trans "project files"|capfirst %}</label>
					{% with project.files.all as files %}
					<div id="project_files">
						{% include "organisation/project_files.html" %}
					</div>
					{% endwith %}

				</div>
			</div>
		</div>

		{% form_render_end form 'plain' %}

	</div>
{% endblock %}