{% extends "base.html" %}

{% load feinheit_forms i18n mooch_tags %}

{% block content %}

	<div id="header_buttons" >
		<a href="{% url organisation_project_add %}" class="button"><span>{% trans "New project" %}</span></a>
	</div>

    <form action="" method="get">
        {% for field in filterset.form %}
            {{ field.label_tag }}
            {% form_render_input field 'plain' %}<br />
        {% endfor %}
        <input type="submit" />
    </form>

	<table class="objects">
	    <thead>
            <tr>
                <th>{% trans "new"|capfirst %}</th>
                <th>{% trans "name"|capfirst %}</th>
                <th>{% trans "country"|capfirst %}</th>
                <th>{% ordering_link request "manager__username" _("manager") %}</th>
                <th>{% trans "state"|capfirst %}</th>
                <th>{% trans "funding"|capfirst %}</th>
                <th>{% ordering_link request "start" _("start date") %}</th>
                <th>{% ordering_link request "end" _("end date") %}</th>
                <th>{% trans "online"|capfirst %}</th>
            </tr>
        </thead>
        <tbody>
        {% for project in page.object_list %}
            <tr id="item{{project.id}}" class="object {% cycle 'odd' 'even' %}">
                <td>-</td>
                <th><a href="{{ project.get_absolute_url }}">{{ project }}</a></th>
                <td>{{ project.country }}</td>
                <td>{{ project.manager }}</td>
                <td>{{ project.get_state_display }}</td>
                <td>
                    {% bar project.get_funding_rate %}
                </td>
                <td>{{ project.start|date:"d.m.Y" }}</td>
                <td>{{ project.end|date:"d.m.Y" }}</td>
                <td>-</td>
            </tr>
        {% endfor %}
        </tbody>
	</table>

    <div class="pagination">
        <span class="step-links">
            {% if page.has_previous %}
                <a href="?{{ querystring }}&amp;page={{ page.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page.number }} of {{ page.paginator.num_pages }}.
            </span>

            {% if page.has_next %}
                <a href="?{{ querystring }}&amp;page={{ page.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
