{% extends base_template|default:"base.html" %}

{% load i18n modelview_detail %}

{% block title %}{{ object }} - {{ block.super }}{% endblock %}

{% block content %}
<h2>{{ object }}</h2>

<table>
{% for title, value in object|model_details %}
    <tr>
        <th>{{ title|capfirst }}</th>
        <td>{{ value }}</td>
    </tr>
{% endfor %}
</table>

<div class="buttons cf">
    <a href="delete/" class="button">{% trans "delete"|capfirst %}</a>
    <a href="edit/"class="button">{% trans "edit"|capfirst %}</a>
</div>

{% endblock %}
