{% extends base_template|default:"base.html" %}

{% load i18n towel_form_tags %}

{% block title %}{{ verbose_name_plural }} - {{ block.super }}{% endblock %}

{% block content %}

<div class="buttons">
    <a href="add/" class="button"><span>{% blocktrans %}Add {{ verbose_name }}{% endblocktrans %}</span></a>
</div>

{% block search %}
{% if search_form %}
<div class="box searchbox {{ search_form.searching }}">
    <a href="?clear=1" class="searching">clear</a>

    <form id="filterform" method="get" action=".">
        <input type="hidden" name="s" value="1" />
        {{ search_form.query }}
        <table>
            {% for field in search_form.fields_iterator %}{% form_item field %}{% endfor %}
        </table>
        <button type="submit"><span>{% trans "Search" %}</span></button>
    </form>
</div>
{% endif %}
{% endblock %}

{% block objects %}
<table class="objects">
    <thead>
        <tr>
            <th>{% trans "object"|capfirst %}</th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            <th><a href="{{ object.get_absolute_url }}">{{ object }}</a></th>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
{% endblock %}
